.mdc-dialog__title
{
  color: var(--text-color);
  font-size: 11pt;
  padding: 10px 20px;
  height: 40px;
  min-width: 500px;
}
.mdc-dialog__title::before
{
  height: 20px;
}
.mdc-dialog__content
{
  margin: 40px 0 20px 0;
}
