<mat-card >
    <mat-card-header>
      <mat-card-title>Funcionário - {{ action | titlecase}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if(isLoading)
        {
            <spinner></spinner>
        }
        @else
        {
            <form [formGroup]="form">
                @if(id)
                {
                    <div class="grid-container">
                        <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-2' : 'grid-col-12'">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>ID</mat-label>
                                    <input matInput formControlName="id" readonly>
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                }
                <div class="grid-container">
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-6' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input matInput formControlName="nome">
                                @if(form.get('nome')?.invalid)
                                {
                                    <mat-error>{{ serviceForm.getErrorMessage( form, 'nome' ) }}</mat-error>
                                }
                            </mat-form-field>
                        </p>
                    </div>
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-3' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>CPF</mat-label>
                                <input matInput formControlName="cpf" mask="000.000.000-00">
                            </mat-form-field>
                        </p>
                    </div>
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-3' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Data de Nascimento</mat-label>
                                <input type="date" matInput formControlName="nascimento">
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="grid-container">
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-5' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>E-mail</mat-label>
                                <input type="email" matInput formControlName="email">
                                @if(form.get('email')?.invalid)
                                {
                                    <mat-error>{{ serviceForm.getErrorMessage( form, 'email' ) }}</mat-error>
                                }
                            </mat-form-field>
                        </p>
                    </div>
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-3' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Telefone</mat-label>
                                <input matInput formControlName="telefone" mask="(00) 00000-0000||(00) 0000-0000">
                                @if(form.get('telefone')?.invalid)
                                {
                                    <mat-error>{{ serviceForm.getErrorMessage( form, 'telefone' ) }}</mat-error>
                                }
                            </mat-form-field>
                        </p>
                    </div>
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-4' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Empresa</mat-label>
                                <input  type="text" matInput 
                                        formControlName="empresa" [matAutocomplete]="auto" >
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                @for (option of filteredCompanies | async; track option)
                                {
                                    <mat-option [value]="option" (click)="selectCompany(option)">{{option.nome}}</mat-option>
                                }
                                </mat-autocomplete>
                                @if(form.get('id_empresa')?.invalid)
                                {
                                    <mat-error>{{ serviceForm.getErrorMessage( form, 'id_empresa' ) }}</mat-error>
                                }
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="grid-container">
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-3' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>CEP</mat-label>
                                <input type="cep" matInput formControlName="cep" mask="00000-000" placeholder="00000-000" (focusout)="searchCEP()">
                                @if(form.get('cep')?.invalid)
                                {
                                    <mat-error>{{ serviceForm.getErrorMessage( form, 'cep' ) }}</mat-error>
                                }
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="grid-container">
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-8' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Rua</mat-label>
                                <input matInput formControlName="endereco" [readonly]="isAddressFieldReadonly.endereco">
                                @if(isLoadingAddress){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
                                @if(form.get('endereco')?.invalid)
                                {
                                    <mat-error>{{ serviceForm.getErrorMessage( form, 'endereco' ) }}</mat-error>
                                }
                            </mat-form-field>
                        </p>
                    </div>
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-4' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Bairro</mat-label>
                                <input matInput formControlName="bairro" [readonly]="isAddressFieldReadonly.bairro">
                                @if(isLoadingAddress){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
                                @if(form.get('bairro')?.invalid)
                                {
                                    <mat-error>{{ serviceForm.getErrorMessage( form, 'bairro' ) }}</mat-error>
                                }
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="grid-container">
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-2' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Número</mat-label>
                                <input matInput formControlName="numero">
                                @if(isLoadingAddress){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
                                @if(form.get('numero')?.invalid)
                                {
                                    <mat-error>{{ serviceForm.getErrorMessage( form, 'numero' ) }}</mat-error>
                                }
                            </mat-form-field>
                        </p>
                    </div>
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-4' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Complemento</mat-label>
                                <input matInput formControlName="complemento" [readonly]="isAddressFieldReadonly.complemento">
                                @if(isLoadingAddress){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
                            </mat-form-field>
                        </p>
                    </div>
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-4' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Cidade</mat-label>
                                <input matInput formControlName="cidade" [readonly]="isAddressFieldReadonly.cidade">
                                @if(isLoadingAddress){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
                                @if(form.get('cidade')?.invalid)
                                {
                                    <mat-error>{{ serviceForm.getErrorMessage( form, 'cidade' ) }}</mat-error>
                                }
                            </mat-form-field>
                        </p>
                    </div>
                    <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-2' : 'grid-col-12'">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>UF</mat-label>
                                <input matInput formControlName="uf" [readonly]="isAddressFieldReadonly.uf">
                                @if(isLoadingAddress){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
                                @if(form.get('uf')?.invalid)
                                {
                                    <mat-error>{{ serviceForm.getErrorMessage( form, 'uf' ) }}</mat-error>
                                }
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                @if(id)
                {
                    <div class="grid-container">
                        <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-3' : 'grid-col-12'">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Criado Por</mat-label>
                                    <input matInput formControlName="created_by" readonly>
                                </mat-form-field>
                            </p>
                        </div>
                        <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-3' : 'grid-col-12'">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Criado Em</mat-label>
                                    <input matInput type="datetime-local" formControlName="created_at" readonly>
                                </mat-form-field>
                            </p>
                        </div>
                        <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-3' : 'grid-col-12'">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Modificado Por</mat-label>
                                    <input matInput formControlName="updated_by" readonly>
                                </mat-form-field>
                            </p>
                        </div>
                        <div [class]="serviceBreakpoint.isDesktopDevice() ? 'grid-col-3' : 'grid-col-12'">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Modificado Em</mat-label>
                                    <input matInput type="datetime-local" formControlName="updated_at" readonly>
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                    <div class="grid-container">
                        <div class="grid-col-12">
                            <p>
                                <mat-checkbox formControlName="ativo">Ativo</mat-checkbox>
                            </p>
                        </div>
                    </div>
                }
            </form>
        }
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-stroked-button (click)="backToPreviousPage()">Voltar</button>
      @if(action != 'visualizar')
      {
        <button mat-flat-button (click)="save()">Salvar</button>
      }
    </mat-card-actions>
</mat-card>

<form-debug [formName]="'Clínica'" [form]="form"></form-debug>