.main-container
{
    padding: 0px 20px 75px 20px;
    background-color: var(--background-color);
}
.mobile-menu
{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    border-top: 1px solid;
    border-color: var(--azure-dark-color);
}
.mobile-menu-item
{
    width: 20%;
    text-align: center;
    padding: 15px 0;
    background-color: var(--background-color);
}
.mobile-menu-item:hover
{
    background-color: var(--azure-dark-color);
    color: #FFF!important;
}
.mobile-menu-item:hover mat-icon
{
    color: #FFF!important;
}
mat-icon
{
    transform: scale(1.3);
    color: var(--azure-dark-text-color);
    
}