@use '@angular/material' as mat;

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$blue-palette,
  ),
));

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

:root
{
  @include mat.all-component-themes($light-theme);

  --azure-dark-color: #d7e3ff;
  --azure-dark-text-color: #005cbb;

  --tree-hover-bg: #{mat.get-theme-color($light-theme, surface-container-highest)};
  
  --background-color: #f5f5f5;
  --text-color: #212121;
  --text-color-contrast: #e0e0e0;
  
  --color-success: #2e7d32;
  --color-success-contrast: #ffffff;

  --color-warning: #ed6c02;
  --color-warning-contrast: #ffffff;

  --color-error: #d32f2f;
  --color-error-contrast: #ffffff;

  --scrollbar-thumb: rgba(0,0,0,0.3);
  --scrollbar-thumb-hover: rgba(0,0,0,0.5);

  --black-background: #000000;
}

.dark-theme
{
  @include mat.all-component-colors($dark-theme);
  @include mat.all-component-typographies($dark-theme);
  @include mat.all-component-densities($dark-theme);
  
  --azure-dark-color: #004f4f;
  --azure-dark-text-color: #0dd;

  --tree-hover-bg: #{mat.get-theme-color($dark-theme, surface-container-highest)};

  --background-color: #121212;
  --text-color: #e0e0e0;
  --text-color-contrast: #e0e0e0;

  --color-success: #81c784;
  --color-success-contrast: #000000;

  --color-warning: #ffb74d;
  --color-warning-contrast: #000000;

  --color-error: #ef9a9a;
  --color-error-contrast: #000000;

  --scrollbar-thumb: rgba(255,255,255,0.3);
  --scrollbar-thumb-hover: rgba(255,255,255,0.6);

  --black-background: rgba(255,255,255,0.3);
}
